
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'FonteDani';
    src: url('../fonts/conthrax/conthrax-sb.otf') format('opentype');
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
}


.hero {
    background-color: #6e40aa;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
}

.hero h1 strong{
    font-family: 'FonteDani';
}

.hero p {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5500;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #cc4400;
}

.services {
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.service-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.service-item p {
    font-size: 20px;
    margin-left: 20px;
}

.depoimentos_clientes {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.depoimentos_clientes .testimonial {
    background-color: #f1f1f1;
    text-align: center;
    margin-bottom: 10px;
}

.testimonial h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.testimonial p {
    font-size: 20px;
    margin-bottom: 20px;
}

.testimonial-author {
    font-weight: bold;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-info {
    flex: 1;
}

.footer-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-info p {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-social ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social ul li {
    margin-right: 10px;
}

.footer-social ul li:last-child {
    margin-right: 0;
}

.footer-social a {
    color: #fff;
    font-size: 20px;
}

.footer-copy {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}
