* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'FonteDani';
    src: url('../fonts/conthrax/conthrax-sb.otf') format('opentype');
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
}

.fundo_moto {
    position: absolute;
    height: 150px;
    width: 100%;
    text-align: center;
}

.hero {
    background-color: #6e40aa;
    height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
}

.hero h1 strong{
    font-family: 'FonteDani';
}

.hero p {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5500;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #cc4400;
}

/************BOTÃO LATERAL FIXO************/
.icon-atendimento {
    position: fixed;
    bottom: 65px;
    right: 10px;
}

.icon-atendimento:hover {
    background-color: rgba(0, 0, 0, 0.521);
    opacity: 0.7;
    border-radius: 50%;
}

/************BOTÃO MAPS************/
button {
    background-color: #6e40aa;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5a338c;
}

@keyframes blink {
    0% {
        background-color: #ff5500; /* cor inicial */
      }
      50% {
        background-color: #ff8000; /* cor intermediária */
      }
      100% {
        background-color: #da6d00; /* cor final */
    }
}

.button-blink {
    animation: blink 1.7s infinite;
    margin: 25px;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
}

/************SERVIÇOS************/
.services {
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.service-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.service-item p {
    font-size: 20px;
    margin-left: 20px;
}
/************BOTÃO MOSTRAR DEPOIMENTOS************/
.bt_ocultar_depoimentos {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    margin: 20px auto;
    cursor: pointer;
}

.bt_ocultar_depoimentos:hover {
    font-size: 38px;
    color: #cc4400;
}

#bt_depoimentos {
    display: none;
}

#div_mostrar_depoimentos {
    display: none;
}

#bt_depoimentos:checked ~ #div_mostrar_depoimentos {
    display: block;
}

/************DEPOIMENTOS************/

.depoimentos_clientes {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.depoimentos_clientes .testimonial {
    background-color: #f1f1f1;
    text-align: center;
    margin-bottom: 10px;
}

.testimonial p {
    font-size: 20px;
    margin-bottom: 20px;
}

.testimonial-author {
    font-weight: bold;
    font-size: 18px;
}

/************Carrossel Destaques************/
.carrossel_Destaques {
    display: flex;
    flex-direction: column;
    margin: 25px auto 0px auto;
    height: 400px;
    width: 500px;
    text-align: center;
    border: 5px solid;
    border-image: linear-gradient(to right, #800080, #ffa500) 1;
    padding: 10px;
}

.bts_Carrossel {
    display: flex;
    justify-content: space-between;
}

.carrossel img {
    max-height: 430px;
    max-width: 500px;
}

.titulo_Destaques {
    text-align: center;
    font-size: 28px;
}

.titulo_Destaques strong {
    font-family: 'FonteDani';
    color: #e64e02;
}

.bt_Proximo, .bt_Anterior {
    background-color: #6e40aa;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.bt_Proximo:hover, .bt_Anterior:hover {
    background-color: #5a338c;
}


.carrossel .item_carrossel {
  position: relative;
}

.carrossel .legenda_img_carrossel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}


/************FOOTER************/
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.footer-info {
    flex: 1;
}

.footer-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-info p {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-social ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social ul li {
    margin-right: 25px;
}

.footer-social ul li:hover {
    background-color: rgba(0, 0, 0, 0.521);
    opacity: 0.7;
    border-radius: 50%;
}

.footer-social ul li:last-child {
    margin: 0px 0px 0px 10px;
}

.footer-social a {
    color: #fff;
    font-size: 20px;
}

.footer-copy {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 480px) {
    .hero {
        background-color: #6e40aa;
        height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

/************Carrossel Destaques************/
.carrossel_Destaques {
    display: flex;
    flex-direction: column;
    margin: 25px auto 0px auto;
    height: 400px;
    width: 380px;
    text-align: center;
    border: 5px solid;
    border-image: linear-gradient(to right, #800080, #ffa500) 1;
    padding: 10px;
}

.bts_Carrossel {
    display: flex;
    justify-content: space-between;
}

.carrossel img {
    height: 340px;
    width: 380px;
}

.titulo_Destaques {
    text-align: center;
    font-size: 28px;
}

.titulo_Destaques strong {
    font-family: 'FonteDani';
    color: #e64e02;
}

.bt_Proximo, .bt_Anterior {
    background-color: #6e40aa;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.bt_Proximo:hover, .bt_Anterior:hover {
    background-color: #5a338c;
}


.carrossel .item_carrossel {
  position: relative;
}

.carrossel .legenda_img_carrossel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}


/************FOOTER************/
    .footer-info {
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .footer-social {
      flex-basis: 100%;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 30px 10px;
      }
      
      .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
      }
      
      .footer-info {
        flex: 1 1 100%;
        max-width: 300px;
        margin-bottom: 20px;
      }
      
      .footer-info h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      
      .footer-info p {
        font-size: 14px;
        margin-bottom: 5px;
      }
      
      .footer-social {
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 20px;
      }
      
      .footer-social h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      
      .footer-social ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .footer-social ul li {
        margin-right: 15px;
      }
      
      .footer-social ul li:last-child {
        margin-right: 0;
      }
      
      .footer-social a {
        color: #fff;
        font-size: 20px;
      }
      
      .footer-copy {
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
      }
      





  }