*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
    position: relative;
    z-index: 3;
    background: #000;
    font-family: "raleway", sans-serif;
}

.footer {
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 100%;
    color: white;
    z-index: 999;
  }
  
  .canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: -1;
  }
  
  .content {
    position: relative;
    z-index: 1;
  }
  



.text_footer {
    background-color: white;
    width: 200px;
    height: 100px;
    color: red;
}




  .content {
    padding: 50px;
    height: 800px;
    width: 600px;
  }